div.lightbox-container {
	background: #111;
	bottom: 0;
	cursor: zoom-out;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
img.lightbox-photo {
	position: fixed;
	transition: 0.25s;
}
