html {
    font: 105%/1.5em 'minion-pro', serif;
    font-style: normal;
    font-weight: 400;
}

strong {
    font-style: normal;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ff-tisa-web-pro', serif;
    font-style: normal;
    font-weight: 700;
    text-shadow: 0 1px 0 white;
}
