*, *:after, *:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/**
 * TRIVIA: The primary colour is the opposite on the colour wheel to the orange I use on my personal website.
 */
$textColour: rgb(30, 30, 30);
$primaryColour: #0077ff;

a {
	color: $primaryColour;
}

html {
	background: rgb(235, 235, 235);
	box-sizing: border-box;
	color: $textColour;
}

div.photo {
	background: no-repeat center center;
	background-size: cover;
}

@import '_type';

body {

	margin: 5% auto;
	width: 70%;

	@media screen and (max-width: 800px) {
		width: 80%;
	}

	@media screen and (max-width: 600px) {
		width: 90%;
	}

}

@import '_lightbox';

header {

	padding: 1em;
	text-align: center;

	> a {

		display: inline-block;
		text-decoration: none;

		img {
			display: block;
			height: 3em;
			margin: 0 auto;
		}

		h1 {
			color: $textColour;
			font-size: 2em;
			line-height: 1em;
			text-align: center;
		}

	}

}

div.container {

	margin-top: 5%;
	overflow: hidden;

	&.sidebar {

		section.posts {

			float: left;
			width: 70%;	

			@media screen and (max-width: 800px) {
				width: 100%;
			}

		}

	}

	section.posts {

		article.post {

			background: rgb(245, 245, 245);
			border: 1px solid rgb(230, 230, 230);
			border-radius: 3px;
			margin-top: 5%;
			overflow: hidden;
			padding: 3em;

			&:first-child {
				margin-top: 0;
			}

			div.photo.hero {

				height: 12em;
				margin: -3em -3em 3em;

				&:not(.loaded) {
					background: rgb(230, 230, 230) url('../img/loading.svg') no-repeat center center;
					background-size: 4em;
				}

			}

			hgroup {
				margin-bottom: 1em;
			}

			p {
				margin-bottom: 1em;
			}

			a.read-more {
				text-decoration: none;
			}

		}

	}

	section.category {

		background: rgb(30, 30, 30);
		border-radius: 3px;
		color: rgb(245, 245, 245);
		margin-bottom: 5%;
		overflow: hidden;
		padding: 3em;

		h2 {
			margin-bottom: 0.25em;
		}

	}

	div.post {

		background: rgb(245, 245, 245);
		border: 1px solid rgb(230, 230, 230);
		border-radius: 3px;
		overflow: hidden;
		padding: 3em;

		div.photo.hero {

			height: 12em;
			margin: -3em -3em 3em;

			&:not(.loaded) {
				background: rgb(230, 230, 230) url('../img/loading.svg') no-repeat center center;
				background-size: 4em;
			}

		}

		hgroup {
			margin-bottom: 1em;
		}

		p, div.gallery, div.video {

			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}

		}

		div.gallery {

			overflow: hidden;

			&:not(.loaded) {

				background: rgb(230, 230, 230) url('../img/loading.svg') no-repeat center center;
				background-size: 4em;
				height: 6em;

				* {
					display: none;
				}

			}

			a.photo {

				display: block;

				img {
					display: block;
					max-width: 100%;
				}

			}

			&.images-1 {
				a.photo {
					width: 100%;
				}
			}

			&.images-2, &.images-3, &.images-4, &.images-5, &.images-6 {
				a.photo {

					border: 1px solid rgb(220, 220, 220);
					float: left;
					margin-right: 5%;
					padding: 0.5%;

					&:last-child {
						margin-right: 0;
					}

				}
			}

			&.images-2 {
				a.photo {
					width: 47.5%;
				}
			}

			&.images-3 {
				a.photo {

					width: 30%;

					@media screen and (max-width: 800px) {

						width: 47.5%;

						&:nth-child(2) {
							margin-right: 0;
						}

						&:last-child {
							margin-top: 5%;
							width: 100%;
						}

					}

				}
			}

			&.images-4 {
				a.photo {

					width: 21.25%;

					@media screen and (max-width: 800px) {

						width: 47.5%;

						&:nth-child(2) {
							margin-right: 0;
						}

						&:nth-child(3), &:last-child {
							margin-top: 5%;
						}

					}

				}
			}

			&.images-5 {
				a.photo {

					width: 30%;

					&:nth-child(3) {
						margin-right: 0;
					}

					&:nth-child(4), &:last-child {
						margin-top: 5%;
						width: 47.5%;
					}

					@media screen and (max-width: 800px) {

						width: 47.5%;

						&:nth-child(3) {
							margin-right: 5%;
						}

						&:nth-child(2), &:nth-child(4) {
							margin-right: 0;
						}

						&:nth-child(3), &:nth-child(3), &:last-child {
							margin-top: 5%;
						}

						&:last-child {
							width: 100%;
						}

					}

				}
			}

			&.images-6 {
				a.photo {

					width: 30%;

					&:nth-child(3), &:last-child {
						margin-right: 0;
					}

					&:nth-child(4), &:nth-child(5), &:last-child {
						margin-top: 5%;
					}

					@media screen and (max-width: 800px) {

						width: 47.5%;

						&:nth-child(3) {
							margin-right: 5%;
						}

						&:nth-child(2), &:nth-child(4) {
							margin-right: 0;
						}

						&:nth-child(3), &:nth-child(4), &:nth-child(5), &:last-child {
							margin-top: 5%;
						}

					}

				}
			}

		}

		div.video {

			height: 0;
			position: relative;

			&.aspect-16-9 {
				padding-bottom: 56.25%;
			}

			iframe {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

		}

	}

	aside {

		float: right;
		width: 25%;

		@media screen and (max-width: 800px) {
			margin-top: 5%;
			width: 100%;
		}

		div.biography {

			margin-bottom: 2em;

			h4 {
				margin-bottom: 0.5em;
			}

		}

		ul.categories {

			list-style: none;

			li {

				background: rgb(240, 240, 240);
				border-bottom: 1px solid rgb(230, 230, 230);

				&:last-child {
					border-bottom: 0;
				}

				a {
					display: block;
					font-size: 1.1em;
					padding: 0.75em 1em;
					text-decoration: none;
				}

			}

		}

	}

}
