*, *:after, *:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

$textColour: #222;
$primaryColour: #0077ff;

a {
	color: $primaryColour;
}

html {
	background: rgb(235, 235, 235);
	box-sizing: border-box;
	color: $textColour;
}

div.photo {
	background: no-repeat center center;
	background-size: cover;
}

@import '_type';

body {

	margin: 5% auto;
	width: 70%;

	@media screen and (max-width: 800px) {
		width: 80%;
	}

	@media screen and (max-width: 600px) {
		width: 90%;
	}

}

header {

	padding: 1em;

	> a {

		display: block;
		text-decoration: none;

		img {
			display: block;
			height: 3em;
			margin: 0 auto;
		}

		h1 {
			color: $textColour;
			font-size: 2em;
			line-height: 1em;
			text-align: center;
		}

	}

}

div.container {

	margin-top: 5%;
	overflow: hidden;

	section.posts {

		float: left;
		width: 70%;	

		@media screen and (max-width: 800px) {
			width: 100%;
		}

		article.post {

			background: rgb(245, 245, 245);
			border-radius: 3px;
			margin-top: 5%;
			overflow: hidden;
			padding: 3em;

			&:first-child {
				margin-top: 0;
			}

			div.photo.hero {
				height: 200px;
				margin: -3em -3em 3em;
			}

		}

	}

	aside {

		float: right;
		width: 25%;

		@media screen and (max-width: 800px) {
			margin-top: 5%;
			width: 100%;
		}

		ul.categories {
			list-style: none;
		}

	}

}
