*, *:after, *:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/**
 * TRIVIA: The primary colour is the opposite on the colour wheel to the orange I use on my personal website.
 */
$textColour: rgb(30, 30, 30);
$primaryColour: #0077ff;

a {
	color: $primaryColour;
}

html {
	background: rgb(235, 235, 235);
	box-sizing: border-box;
	color: $textColour;
}

div.photo {
	background: no-repeat center center;
	background-size: cover;
}

@import '_type';

body {

	margin: 5% auto;
	width: 70%;

	@media screen and (max-width: 800px) {
		width: 80%;
	}

	@media screen and (max-width: 600px) {
		width: 90%;
	}

}

header {

	padding: 1em;
	text-align: center;

	> a {

		display: inline-block;
		text-decoration: none;

		img {
			display: block;
			height: 3em;
			margin: 0 auto;
		}

		h1 {
			color: $textColour;
			font-size: 2em;
			line-height: 1em;
			text-align: center;
		}

	}

}

div.container {

	margin-top: 5%;
	overflow: hidden;

	&.sidebar {

		section.posts {

			float: left;
			width: 70%;	

			@media screen and (max-width: 800px) {
				width: 100%;
			}

		}

	}

	section.posts {

		article.post {

			background: rgb(245, 245, 245);
			border: 1px solid rgb(230, 230, 230);
			border-radius: 3px;
			margin-top: 5%;
			overflow: hidden;
			padding: 3em;

			&:first-child {
				margin-top: 0;
			}

			div.photo.hero {
				height: 200px;
				margin: -3em -3em 3em;
			}

			hgroup {
				margin-bottom: 1em;
			}

		}

	}

	section.category {

		background: rgb(30, 30, 30);
		border-radius: 3px;
		color: rgb(245, 245, 245);
		margin-bottom: 5%;
		overflow: hidden;
		padding: 3em;

		h2 {
			margin-bottom: 0.25em;
		}

	}

	div.post {

		background: rgb(245, 245, 245);
		border: 1px solid rgb(230, 230, 230);
		border-radius: 3px;
		overflow: hidden;
		padding: 3em;

		div.photo.hero {
			height: 200px;
			margin: -3em -3em 3em;
		}

		hgroup {
			margin-bottom: 1em;
		}

	}

	aside {

		float: right;
		width: 25%;

		@media screen and (max-width: 800px) {
			margin-top: 5%;
			width: 100%;
		}

		div.biography {

			margin-bottom: 2em;

			h4 {
				margin-bottom: 0.5em;
			}

		}

		ul.categories {

			list-style: none;

			li {

				background: rgb(240, 240, 240);
				border-bottom: 1px solid rgb(230, 230, 230);

				&:last-child {
					border-bottom: 0;
				}

				a {
					display: block;
					font-size: 1.1em;
					padding: 0.75em 1em;
					text-decoration: none;
				}

			}

		}

	}

}
