<!doctype html>
<html lang="en-us">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin-ext">
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div id="app">

            <header>
                <a href="/" title="List of posts"><img src="/assets/logo.svg"></a>
            </header>

            {{#block "content"}}{{/block}}

        </div>
        <script src="/app.js"></script>
    </body>
</html>
