{{#extend "layout"}}
    {{#content "content"}}
        <div class="container">

            <div class="post">

                <hero-photo class="tall" path="{{post.hero}}"></hero-photo>

                <hgroup>
                    <h2>{{post.title}}</h2>
                    <h4>{{moment post.date "MMMM YYYY"}}</h4>
                </hgroup>

                {{{post.html}}}

            </div>

        </div>
    {{/content}}
{{/extend}}
